mpg123 acpi bc jq cpupower-gui-git playerctl rofi-connman xorg-xset clight rofi-emoji picom-animations-git nerd-jetbrains-mono nerd-fonts-space-mono ttf-symbola kitty tint2 mpd ncmpcpp rofi-greenclip bluez bluez-utils qt5-styleplugins qt5ct mpdris2 xclip
