[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/r3dmoon/Desktop/brave-agimnkijcaahngcdmfeangaknmldooml-Default.desktop]
row=0
col=1

[6C62072D6206FC18]
row=0
col=0

[40F0FD74F0FD7090]
row=1
col=0

[01D7EC7B08155FB0]
row=2
col=0

[3430E41B30E3E23A]
row=3
col=0

[Trash]
row=4
col=0

[/]
row=5
col=0

[/home/r3dmoon]
row=6
col=0

